* {
    padding: 0;
    margin: 0;
    color: #242729;
    font-family: 'IBM Plex Sans', serif;
}
.container {
    width: 95%;
    max-width: 1060px;
    margin: auto;
}
header {
    margin-bottom: 20px;
    text-align: center;
}
header > img {
    max-width: 700px;
    margin: auto;
}
.tour-tabbing-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f1f2f3;
}
.grid-col-3-6-3 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-content: center;
}
.flex-listing {
    list-style: none;
}
.flex-listing > li {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.flex-listing > li:hover, .flex-listing > li.active {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .09),
    0 3px 8px rgba(0, 0, 0, .09),
    0 4px 13px rgba(0, 0, 0, .13);
}
.flex-listing > li > a {
    display: flex;
    align-items: center;
    text-decoration: unset;
}
.flex-listing > li > a > img {
    max-width: 50px;
    margin-right: 10px;
}
.col-left .flex-listing > li.active:after,
.col-right .flex-listing > li.active:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -18px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-left: transparent;
    border-bottom: transparent;
    box-shadow: 2px -2px 8px rgba(59, 64, 69, .1);
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    transition: all 0.2s;
}
.col-right .flex-listing > li.active:after {
    right: unset;
    left: 0;
    border-left: 1px solid #d6d9dc;
    border-bottom: 1px solid #d6d9dc;
    border-right: transparent;
    border-top: transparent;
    box-shadow: -2px 2px 8px rgba(59, 64, 69, .1);
}
.tab-content h4 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.tab-content {
    display: none;
}
.tab-content.current {
    display: block;
}